
/* Put these src/app/app.component.css */
:host {
    --content-padding: 10px;
  }
  header {
    border: 1px solid pink;
    display: block;
    height: 60px;
    padding: var(--content-padding);
    /* box-shadow: 0px 5px 25px var(--shadow-color); */
  }
  .content {
    border: 1px solid lime;
    padding: var(--content-padding);
  }